<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/search.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <meta charset="utf-8">
    <title>CheapFarm</title>
</head>

<body>
    <div class="preloader">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>
    <div class="header">
        <header>
            <div class="header_section">
                <a href="/">
                    <img src="/images/logo_test2.png">
                </a>
                <div class="header_item"><a href="/about" class="header_item_txt">О проекте</a></div>
                <div class="search_block">
                    <form action="/search" method="GET" class="search_form">
                        <p><input type="search" name="nameDrug" placeholder="Введите название"></p>
                        <p><button type="submit" id="btn"></button></p>
                    </form>
                </div>
                <% if (isLogged == false) { %>
                    <div class="header_item"><a href="/registration" class="header_item_txt">Регистрация</a></div>
                    <div class="header_item"><a href="/login" class="header_item_txt">Вход</a></div>
                    <%} else { %>
                        <div class="header_item"><a href="/profile" class="header_item_txt">Профиль</a></div>
                        <div class="header_item"><a href="/logout" class="header_item_txt">Выход</a></div>
                        <%} %>
            </div>
        </header>
    </div>
    <div class="table">
        <div id="neyron" class="vitrina-item">
            <details>
                <summary>
                    <span>
            <a href=<%= aptekas.apteka1.url %>>
                <img src= <%= aptekas.apteka1.image %> width="84px" height="84px"></a>
            <p><%= aptekas.apteka1.name %> </p>
        </span>
                    <span class="test"><%= nameDrug %> </span>
                    <span class="cost_txt">
            
                <% if(dataNeyron.length == 0) {%>
                    Товара нет <%} else { %>
                        От <%= dataNeyron[0].cost %> <i class="fa fa-rub"></i>
                    <%  } %> 
                </span>
                </summary>
                <div style="margin-top: 60px;"></div>
                <% for(var i = 0; i<10 && i< dataNeyron.length; i++) {%>
                    <div class="vnytr">

                        <span><a href="<%= dataNeyron[i].link %> ">
                            <img src="<%= dataNeyron[i].image %> " width="68px" height="68px"></a>
                        </span>
                        <span><%= dataNeyron[i].name %> </span>
                        <span><%= dataNeyron[i].cost %> <i class="fa fa-rub"></i> </span>
                        <span><button class="favourite open-popup" data-id=neyron<%= i %> >Избранное</button></span>

                    </div>
                    <%} %>


            </details>
        </div>

        <div id="aptekaRU" class="vitrina-item">
            <details>
                <summary>
                    <span>
            <a href=<%= aptekas.apteka2.url %>>
            <img src=<%= aptekas.apteka2.image %> width="84px" height="84px"></a>
            <p><%= aptekas.apteka2.name %></p>
        </span>
                    <span class="test"><%= nameDrug %> </span>
                    <span class="cost_txt">
            <% if(dataAptekaRU.length == 0) {%>
                Товара нет <%} else { %>
                    От <%= dataAptekaRU[0].cost %> <i class="fa fa-rub"></i>
                <%  } %> 
        
                </summary>
                <div style="margin-top: 60px;"></div>
                <% for(var i = 0; i<10 && i< dataAptekaRU.length; i++) {%>
                    <div class="vnytr">
                        <span><a href="<%= dataAptekaRU[i].link %> ">
                            <img src="<%= dataAptekaRU[i].image %> " width="68px" height="68px"></a>
                        </span>
                    <span><%= dataAptekaRU[i].name %> </span>
                    <span><%= dataAptekaRU[i].cost %> <i class="fa fa-rub"></i> </span>
                    <span><button class="favourite open-popup" data-id=aptekaru<%= i %> >Избранное</button></span>
        </div>
        <%} %>
            </span>
            </details>
    </div>

    <div id="Zhivika" class="vitrina-item">
        <details>
            <summary>
                <span>
            <a href=<%= aptekas.apteka3.url %>>
            <img src=<%= aptekas.apteka3.image %> width="84px" height="84px"></a>
            <p><%= aptekas.apteka3.name %></p>
        </span>
                <span class="test"><%= nameDrug %> </span>
                <span class="cost_txt">
            <% if(dataZhivika.length == 0) {%>
                Товара нет <%} else { %>
                    От <%= dataZhivika[0].cost %> <i class="fa fa-rub"></i>
                <%  } %> 
        
                </summary>
                <div style="margin-top: 60px;"></div>
                <% for(var i = 0; i<10 && i< dataZhivika.length; i++) {%>
                    <div class="vnytr">
                        <span><a href="<%= dataZhivika[i].link %> ">
                            <img src="<%= dataZhivika[i].image %> " width="68px" height="68px"></a>
                        </span>
                <span><%= dataZhivika[i].name %> </span>
                <span><%= dataZhivika[i].cost %> <i class="fa fa-rub"></i> </span>
                <span><button class="favourite open-popup" data-id=zhivika<%= i %> >Избранное</button></span>
    </div>
    <%} %>
        </span>
        </details>
        </div>

        <div id="Apteka-ot-sklada" class="vitrina-item">
            <details>
                <summary>
                    <span>
            <a href=<%= aptekas.apteka4.url %>>
            <img src=<%= aptekas.apteka4.image %> width="84px" height="84px"></a>
            <p><%= aptekas.apteka4.name %></p>
        </span>
                    <span class="test"><%= nameDrug %> </span>
                    <span class="cost_txt">
            <% if(dataAptekaOtSklada.length == 0) {%>
                Товара нет <%} else { %>
                    От <%= dataAptekaOtSklada[0].cost %> <i class="fa fa-rub"></i>
                <%  } %> 
        
                </summary>
                <div style="margin-top: 60px;"></div>
                <% for(var i = 0; i<10 && i< dataAptekaOtSklada.length; i++) {%>
                    <div class="vnytr">
                        <span><a href="<%= dataAptekaOtSklada[i].link %> ">
                            <img src="<%= dataAptekaOtSklada[i].image %> " width="68px" height="68px"></a>
                        </span>
                    <span><%= dataAptekaOtSklada[i].name %> </span>
                    <span><%= dataAptekaOtSklada[i].cost %> <i class="fa fa-rub"></i> </span>
                    <span><button class="favourite open-popup" data-id=aptotsklada<%= i %> >Избранное</button></span>
        </div>
        <%} %>
            </span>
            </details>
            </div>

            <div id="Eapteka" class="vitrina-item">
                <details>
                    <summary>
                        <span>
            <a href=<%= aptekas.apteka5.url %>>
            <img src=<%= aptekas.apteka5.image %> width="84px" height="84px"></a>
            <p><%= aptekas.apteka5.name %></p>
        </span>
                        <span class="test"><%= nameDrug %> </span>
                        <span class="cost_txt">
            <% if(dataEapteka.length == 0) {%>
                Товара нет <%} else { %>
                    От <%= dataEapteka[0].cost %> <i class="fa fa-rub"></i>
                <%  } %> 
        
                </summary>
                <div style="margin-top: 60px;"></div>
                <% for(var i = 0; i<10 && i< dataEapteka.length; i++) {%>
                    <div class="vnytr">
                        <span><a href="<%= dataEapteka[i].link %> ">
                            <img src="<%= dataEapteka[i].image %> " width="68px" height="68px"></a>
                        </span>
                        <span><%= dataEapteka[i].name %> </span>
                        <span><%= dataEapteka[i].cost %> <i class="fa fa-rub"></i> </span>
                        <span><button class="favourite open-popup" data-id=eapteka<%= i %> >Избранное</button></span>
            </div>
            <%} %>
                </span>
                </details>
                </div>

                <div id="Zdravcity" class="vitrina-item">
                    <details>
                        <summary>
                            <span>
            <a href=<%= aptekas.apteka6.url %>>
            <img src=<%= aptekas.apteka6.image %> width="84px" height="84px"></a>
            <p><%= aptekas.apteka6.name %></p>
        </span>
                            <span class="test"><%= nameDrug %> </span>
                            <span class="cost_txt">
            <% if(dataZdravcity.length == 0) {%>
                Товара нет <%} else { %>
                    От <%= dataZdravcity[0].cost %> <i class="fa fa-rub"></i>
                <%  } %> 
        
                </summary>
                <div style="margin-top: 60px;"></div>
                <% for(var i = 0; i<10 && i< dataZdravcity.length; i++) {%>
                    <div class="vnytr">
                        <span><a href="<%= dataZdravcity[i].link %> ">
                            <img src="<%= dataZdravcity[i].image %> " width="68px" height="68px"></a>
                        </span>
                            <span><%= dataZdravcity[i].name %> </span>
                            <span><%= dataZdravcity[i].cost %> <i class="fa fa-rub"></i> </span>
                            <span><button class="favourite open-popup" data-id=zdravcity<%= i %> >Избранное</button></span>
                </div>
                <%} %>
                    </span>
                    </details>
                    </div>
                    </div>

                    <div class="popup__bg">
                        <div class="popup">
                            <a href="#" class="close-popup">X</a>
                            <div class="popup_title">Добавление в избранное</div>
                            <div class="popup_cities">
                                <span>Препарат успешно добавлен в избранное</span>
                            </div>
                        </div>
                    </div>

                    <script>
                        const preloader = document.querySelector('.preloader')
                        document.getElementById('btn').onclick = () => {
                            preloader.classList.add('preloader_open')
                        }
                        window.addEventListener('load', () => { /* Страница загружена, включая все ресурсы */
                            preloader.classList.add('preloader_hidden') /* добавляем ему класс для скрытия */
                        })
                    </script>
                    <script>
                        const btns = document.querySelectorAll('.favourite');
                        const xhr = new XMLHttpRequest();

                        btns.forEach(el => {
                            el.addEventListener('click', (e) => {
                                let self = e.currentTarget;
                                let id = self.dataset.id;
                                console.log(id);
                                xhr.open("GET", "/favourite?" + id, true);
                                xhr.send();
                            })
                        })
                    </script>
                    <script>
                        let popupBg = document.querySelector('.popup__bg');
                        let popup = document.querySelector('.popup');
                        let openPopupButton = document.querySelectorAll('.open-popup');
                        let closePopupButton = document.querySelector('.close-popup');

                        openPopupButton.forEach(el => {
                            el.addEventListener('click', (e) => {
                                e.preventDefault();
                                popupBg.classList.add('active');
                                popup.classList.add('active');
                            })
                        })
                        closePopupButton.addEventListener('click', () => {
                            popupBg.classList.remove('active');
                            popup.classList.remove('active');
                        })
                    </script>
</body>

</html>